.wrapper {
    display: flex;
    gap: 1rem;
    font-weight: 600;
    font-size: 0.9rem;

    * {
        color: var(--light-text);
        transition: all .3s;
        
        &:hover {
            color: var(--secondary-color);
    
        }
    }


    .active {
        color: var(--secondary-color);
    }

}