.wrapper {
    .banner {
        background-color: var(--secondary-color);
        text-align: center;
        font-weight: 600;
        padding: 0.3rem 0;
    }
    
    .main {
        background-color: var(--primary-color);
        
        .container {
            max-width: var(--max-width);
            padding: 2rem 1rem;

            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .logo {
                width: 12rem;
            }
    
        }
    }
}

@media screen and (max-width: 750px) {
    .wrapper {
        position: relative;
        width: 100%;
    };
}