.wrapper {

    .inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        .inner {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}
