.wrapper {
    background: url("/images/hero-image_mobile.webp") 60%;
    background-size: cover;
    position: relative;
    padding-top: 8rem;
    height: 70vh;
    
    .content {
        z-index: 2;
        position: relative;
        color: var(--light-text);
        max-width: var(--max-width);
        margin: auto;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;

        h2 {
            font-size: 1.3rem;
        }

        * {
            max-width: 25rem;
        }

    }
    
    // overlay
    &::after {
        content: "";
        background: rgba($color: #000000, $alpha: .7);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
}

@media screen and (min-width: "750px") {
    .wrapper {
        background: url("/images/hero-image.webp") no-repeat 40%;
        background-size: cover;
    }
}