.wrapper {
    background: url("/images/hero-image.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    
    .content {
        z-index: 2;
        position: relative;
        color: var(--light-text);
        max-width: var(--max-width);
        margin: auto;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        * {
            max-width: 30rem;
        }

    }
    
    // overlay
    &::after {
        content: "";
        background: rgba($color: #000000, $alpha: .7);
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }
}