.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    .inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}