:root {
    --primary-color: #131f25;
    --secondary-color: #75cdd8;
    --background-color: #f6f6f6;

    --light-text: #ffffff;
    --light-gray-text: #cccccc;
    --gray-text: #777777;
    --dark-text: var(--primary-color);

    --max-width: 1200px
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    line-height: 1.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
    color: var(--gray-text);
    font-weight: 600;
}

img {
    width: 100%;
}

.max-width {
    max-width: var(--max-width);
    margin: auto;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    
    h2 {
        font-size: 1.1rem;
        color: var(--gray-text);
        font-weight: 400;
        max-width: 35rem;
        text-align: center;
    }
}

.button_container {
    margin: auto;
}

.button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    display: inline-block;
    transition: all .3s;

    &:hover {
        opacity: .8;
    }
}

.button_primary {
    background-color: var(--secondary-color);
    color: var(--dark-text);

}

.button_secondary {
    background-color: var(--primary-color);
    color: var(--light-text);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 6rem auto;

    h3,
    h4 {
        text-align: center;
    }
}
