.wrapper {

    .header {
        background-color: var(--primary-color);
        padding: 4rem 0;
        color: var(--light-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .header_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
            font-size: 1rem;
            max-width: 35rem;
            padding: 0 1rem;
        }
    
        img {
            width: 12rem;
        }
    
        ul {
            display: flex;
            gap: 2rem;
            list-style-type: none;
            
            a {
                color: var(--light-text);
            }
        }
    }

    .footer {
        background-color: var(--secondary-color);
        width: 100%;
    
        .footer_inner {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 0;
            font-size: 0.8rem;
    
            ul {
                display: flex;
                gap: 1.5rem;
    
                img {
                    height: 1.5rem;
                }
            }
    
        }
    }
}

@media screen and (max-width: 500px) {

    .header {
        ul {
            flex-direction: column;
        }
    }

    .footer_inner {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        ul {
            justify-content: center;
        }
    }

}